{% extends 'base.html' %}


{% block titulo %}
    Registrar Departamento
{% endblock titulo %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">
            Registrar departamento
        </h1>
        <form method="POST" class="cell grid-x grid-margin-x">{% csrf_token %}
            <h3 class="cell">Datos empleado</h3>
            <div class="medium-6 cell">
                <label>Nombres:
                    {{ form.nombre }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos:
                    {{ form.apellidos }}
                </label>
            </div>
            <h3 class="cell">Datos empresa</h3>
            <div class="medium-6 cell">
                <label>Departamento:
                    {{ form.departamento }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Nombre corto:
                    {{ form.shorname }}
                </label>
            </div>
            <div class="medium-12 cell">
                <button type="submit" class="button success">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}